test/fixtures/service/wsdl/speedgov/v1/Nfes.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.abrasf.org.br/ABRASF/arquivos/nfse.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.abrasf.org.br/ABRASF/arquivos/nfse.xsd" name="Nfes">
<types>
<xsd:schema>
<xsd:import namespace="http://www.abrasf.org.br/ABRASF/arquivos/nfse.xsd" schemaLocation="http://speedgov.com.br:80/wsmod/Nfes?xsd=1"/>
</xsd:schema>
</types>
<message name="RecepcionarLoteRps">
<part name="parameters" element="tns:RecepcionarLoteRps"/>
</message>
<message name="RecepcionarLoteRpsResponse">
<part name="parameters" element="tns:RecepcionarLoteRpsResponse"/>
</message>
<message name="ConsultarSituacaoLoteRps">
<part name="parameters" element="tns:ConsultarSituacaoLoteRps"/>
</message>
<message name="ConsultarSituacaoLoteRpsResponse">
<part name="parameters" element="tns:ConsultarSituacaoLoteRpsResponse"/>
</message>
<message name="ConsultarNfsePorRps">
<part name="parameters" element="tns:ConsultarNfsePorRps"/>
</message>
<message name="ConsultarNfsePorRpsResponse">
<part name="parameters" element="tns:ConsultarNfsePorRpsResponse"/>
</message>
<message name="ConsultarLoteRps">
<part name="parameters" element="tns:ConsultarLoteRps"/>
</message>
<message name="ConsultarLoteRpsResponse">
<part name="parameters" element="tns:ConsultarLoteRpsResponse"/>
</message>
<message name="ConsultarNfse">
<part name="parameters" element="tns:ConsultarNfse"/>
</message>
<message name="ConsultarNfseResponse">
<part name="parameters" element="tns:ConsultarNfseResponse"/>
</message>
<message name="CancelarNfse">
<part name="parameters" element="tns:CancelarNfse"/>
</message>
<message name="CancelarNfseResponse">
<part name="parameters" element="tns:CancelarNfseResponse"/>
</message>
<portType name="Nfes">
<operation name="RecepcionarLoteRps">
<input wsam:Action="http://www.abrasf.org.br/ABRASF/arquivos/nfse.xsd/Nfes/RecepcionarLoteRpsRequest" message="tns:RecepcionarLoteRps"/>
<output wsam:Action="http://www.abrasf.org.br/ABRASF/arquivos/nfse.xsd/Nfes/RecepcionarLoteRpsResponse" message="tns:RecepcionarLoteRpsResponse"/>
</operation>
<operation name="ConsultarSituacaoLoteRps">
<input wsam:Action="http://www.abrasf.org.br/ABRASF/arquivos/nfse.xsd/Nfes/ConsultarSituacaoLoteRpsRequest" message="tns:ConsultarSituacaoLoteRps"/>
<output wsam:Action="http://www.abrasf.org.br/ABRASF/arquivos/nfse.xsd/Nfes/ConsultarSituacaoLoteRpsResponse" message="tns:ConsultarSituacaoLoteRpsResponse"/>
</operation>
<operation name="ConsultarNfsePorRps">
<input wsam:Action="http://www.abrasf.org.br/ABRASF/arquivos/nfse.xsd/Nfes/ConsultarNfsePorRpsRequest" message="tns:ConsultarNfsePorRps"/>
<output wsam:Action="http://www.abrasf.org.br/ABRASF/arquivos/nfse.xsd/Nfes/ConsultarNfsePorRpsResponse" message="tns:ConsultarNfsePorRpsResponse"/>
</operation>
<operation name="ConsultarLoteRps">
<input wsam:Action="http://www.abrasf.org.br/ABRASF/arquivos/nfse.xsd/Nfes/ConsultarLoteRpsRequest" message="tns:ConsultarLoteRps"/>
<output wsam:Action="http://www.abrasf.org.br/ABRASF/arquivos/nfse.xsd/Nfes/ConsultarLoteRpsResponse" message="tns:ConsultarLoteRpsResponse"/>
</operation>
<operation name="ConsultarNfse">
<input wsam:Action="http://www.abrasf.org.br/ABRASF/arquivos/nfse.xsd/Nfes/ConsultarNfseRequest" message="tns:ConsultarNfse"/>
<output wsam:Action="http://www.abrasf.org.br/ABRASF/arquivos/nfse.xsd/Nfes/ConsultarNfseResponse" message="tns:ConsultarNfseResponse"/>
</operation>
<operation name="CancelarNfse">
<input wsam:Action="http://www.abrasf.org.br/ABRASF/arquivos/nfse.xsd/Nfes/CancelarNfseRequest" message="tns:CancelarNfse"/>
<output wsam:Action="http://www.abrasf.org.br/ABRASF/arquivos/nfse.xsd/Nfes/CancelarNfseResponse" message="tns:CancelarNfseResponse"/>
</operation>
</portType>
<binding name="NfesPortBinding" type="tns:Nfes">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="RecepcionarLoteRps">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarSituacaoLoteRps">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarNfsePorRps">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarLoteRps">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarNfse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CancelarNfse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Nfes">
<port name="NfesPort" binding="tns:NfesPortBinding">
<soap:address location="http://speedgov.com.br:80/wsmod/Nfes"/>
</port>
</service>
</definitions>