test/fixtures/service/wsdl/thema/v1/nfse_consulta.xml

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://server.nfse.thema.inf.br" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://server.nfse.thema.inf.br">
    <wsdl:documentation>
		Consulta das notas fiscais
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://server.nfse.thema.inf.br">
            <xs:element name="consultarSituacaoLoteRps">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="consultarSituacaoLoteRpsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="consultarLoteRps">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="consultarLoteRpsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="consultarNfse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="consultarNfseResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="consultarNfsePorRps">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="consultarNfsePorRpsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="consultarLoteRpsRequest">
        <wsdl:part name="parameters" element="ns:consultarLoteRps"/>
    </wsdl:message>
    <wsdl:message name="consultarLoteRpsResponse">
        <wsdl:part name="parameters" element="ns:consultarLoteRpsResponse"/>
    </wsdl:message>
    <wsdl:message name="consultarNfsePorRpsRequest">
        <wsdl:part name="parameters" element="ns:consultarNfsePorRps"/>
    </wsdl:message>
    <wsdl:message name="consultarNfsePorRpsResponse">
        <wsdl:part name="parameters" element="ns:consultarNfsePorRpsResponse"/>
    </wsdl:message>
    <wsdl:message name="consultarSituacaoLoteRpsRequest">
        <wsdl:part name="parameters" element="ns:consultarSituacaoLoteRps"/>
    </wsdl:message>
    <wsdl:message name="consultarSituacaoLoteRpsResponse">
        <wsdl:part name="parameters" element="ns:consultarSituacaoLoteRpsResponse"/>
    </wsdl:message>
    <wsdl:message name="consultarNfseRequest">
        <wsdl:part name="parameters" element="ns:consultarNfse"/>
    </wsdl:message>
    <wsdl:message name="consultarNfseResponse">
        <wsdl:part name="parameters" element="ns:consultarNfseResponse"/>
    </wsdl:message>
    <wsdl:portType name="NFSEconsultaPortType">
        <wsdl:operation name="consultarLoteRps">
            <wsdl:input message="ns:consultarLoteRpsRequest" wsaw:Action="urn:consultarLoteRps"/>
            <wsdl:output message="ns:consultarLoteRpsResponse" wsaw:Action="urn:consultarLoteRpsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="consultarNfsePorRps">
            <wsdl:input message="ns:consultarNfsePorRpsRequest" wsaw:Action="urn:consultarNfsePorRps"/>
            <wsdl:output message="ns:consultarNfsePorRpsResponse" wsaw:Action="urn:consultarNfsePorRpsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="consultarSituacaoLoteRps">
            <wsdl:input message="ns:consultarSituacaoLoteRpsRequest" wsaw:Action="urn:consultarSituacaoLoteRps"/>
            <wsdl:output message="ns:consultarSituacaoLoteRpsResponse" wsaw:Action="urn:consultarSituacaoLoteRpsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="consultarNfse">
            <wsdl:input message="ns:consultarNfseRequest" wsaw:Action="urn:consultarNfse"/>
            <wsdl:output message="ns:consultarNfseResponse" wsaw:Action="urn:consultarNfseResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NFSEconsultaSoap11Binding" type="ns:NFSEconsultaPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="consultarLoteRps">
            <soap:operation soapAction="urn:consultarLoteRps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultarNfsePorRps">
            <soap:operation soapAction="urn:consultarNfsePorRps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultarSituacaoLoteRps">
            <soap:operation soapAction="urn:consultarSituacaoLoteRps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultarNfse">
            <soap:operation soapAction="urn:consultarNfse" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NFSEconsultaSoap12Binding" type="ns:NFSEconsultaPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="consultarLoteRps">
            <soap12:operation soapAction="urn:consultarLoteRps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultarNfsePorRps">
            <soap12:operation soapAction="urn:consultarNfsePorRps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultarSituacaoLoteRps">
            <soap12:operation soapAction="urn:consultarSituacaoLoteRps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultarNfse">
            <soap12:operation soapAction="urn:consultarNfse" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NFSEconsultaHttpBinding" type="ns:NFSEconsultaPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="consultarLoteRps">
            <http:operation location="consultarLoteRps"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultarNfsePorRps">
            <http:operation location="consultarNfsePorRps"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultarSituacaoLoteRps">
            <http:operation location="consultarSituacaoLoteRps"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultarNfse">
            <http:operation location="consultarNfse"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NFSEconsulta">
        <wsdl:port name="NFSEconsultaHttpSoap11Endpoint" binding="ns:NFSEconsultaSoap11Binding">
            <soap:address location="http://nfsehml.gaspar.sc.gov.br/nfse/services/NFSEconsulta.NFSEconsultaHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="NFSEconsultaHttpSoap12Endpoint" binding="ns:NFSEconsultaSoap12Binding">
            <soap12:address location="http://nfsehml.gaspar.sc.gov.br/nfse/services/NFSEconsulta.NFSEconsultaHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="NFSEconsultaHttpEndpoint" binding="ns:NFSEconsultaHttpBinding">
            <http:address location="http://nfsehml.gaspar.sc.gov.br/nfse/services/NFSEconsulta.NFSEconsultaHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
