test/fixtures/service/wsdl/thema/v1/nfse_remessa.xml

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://server.nfse.thema.inf.br" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://server.nfse.thema.inf.br">
    <wsdl:documentation>
		Serviço destinado a remessa de notas fiscais eletrônicas.
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://server.nfse.thema.inf.br">
            <xs:element name="recepcionarLoteRpsDocumento">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="numeroDocumento" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="recepcionarLoteRpsDocumentoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="recepcionarLoteRpsLimitado">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="recepcionarLoteRpsLimitadoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="recepcionarLoteRps">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="recepcionarLoteRpsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="recepcionarLoteRpsRequest">
        <wsdl:part name="parameters" element="ns:recepcionarLoteRps"/>
    </wsdl:message>
    <wsdl:message name="recepcionarLoteRpsResponse">
        <wsdl:part name="parameters" element="ns:recepcionarLoteRpsResponse"/>
    </wsdl:message>
    <wsdl:message name="recepcionarLoteRpsDocumentoRequest">
        <wsdl:part name="parameters" element="ns:recepcionarLoteRpsDocumento"/>
    </wsdl:message>
    <wsdl:message name="recepcionarLoteRpsDocumentoResponse">
        <wsdl:part name="parameters" element="ns:recepcionarLoteRpsDocumentoResponse"/>
    </wsdl:message>
    <wsdl:message name="recepcionarLoteRpsLimitadoRequest">
        <wsdl:part name="parameters" element="ns:recepcionarLoteRpsLimitado"/>
    </wsdl:message>
    <wsdl:message name="recepcionarLoteRpsLimitadoResponse">
        <wsdl:part name="parameters" element="ns:recepcionarLoteRpsLimitadoResponse"/>
    </wsdl:message>
    <wsdl:portType name="NFSEremessaPortType">
        <wsdl:operation name="recepcionarLoteRps">
            <wsdl:input message="ns:recepcionarLoteRpsRequest" wsaw:Action="urn:recepcionarLoteRps"/>
            <wsdl:output message="ns:recepcionarLoteRpsResponse" wsaw:Action="urn:recepcionarLoteRpsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="recepcionarLoteRpsDocumento">
            <wsdl:input message="ns:recepcionarLoteRpsDocumentoRequest" wsaw:Action="urn:recepcionarLoteRpsDocumento"/>
            <wsdl:output message="ns:recepcionarLoteRpsDocumentoResponse" wsaw:Action="urn:recepcionarLoteRpsDocumentoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="recepcionarLoteRpsLimitado">
            <wsdl:input message="ns:recepcionarLoteRpsLimitadoRequest" wsaw:Action="urn:recepcionarLoteRpsLimitado"/>
            <wsdl:output message="ns:recepcionarLoteRpsLimitadoResponse" wsaw:Action="urn:recepcionarLoteRpsLimitadoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NFSEremessaSoap11Binding" type="ns:NFSEremessaPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="recepcionarLoteRps">
            <soap:operation soapAction="urn:recepcionarLoteRps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="recepcionarLoteRpsDocumento">
            <soap:operation soapAction="urn:recepcionarLoteRpsDocumento" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="recepcionarLoteRpsLimitado">
            <soap:operation soapAction="urn:recepcionarLoteRpsLimitado" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NFSEremessaSoap12Binding" type="ns:NFSEremessaPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="recepcionarLoteRps">
            <soap12:operation soapAction="urn:recepcionarLoteRps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="recepcionarLoteRpsDocumento">
            <soap12:operation soapAction="urn:recepcionarLoteRpsDocumento" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="recepcionarLoteRpsLimitado">
            <soap12:operation soapAction="urn:recepcionarLoteRpsLimitado" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NFSEremessaHttpBinding" type="ns:NFSEremessaPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="recepcionarLoteRps">
            <http:operation location="recepcionarLoteRps"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="recepcionarLoteRpsDocumento">
            <http:operation location="recepcionarLoteRpsDocumento"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="recepcionarLoteRpsLimitado">
            <http:operation location="recepcionarLoteRpsLimitado"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NFSEremessa">
        <wsdl:port name="NFSEremessaHttpSoap11Endpoint" binding="ns:NFSEremessaSoap11Binding">
            <soap:address location="http://nfsehml.gaspar.sc.gov.br/nfse/services/NFSEremessa.NFSEremessaHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="NFSEremessaHttpSoap12Endpoint" binding="ns:NFSEremessaSoap12Binding">
            <soap12:address location="http://nfsehml.gaspar.sc.gov.br/nfse/services/NFSEremessa.NFSEremessaHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="NFSEremessaHttpEndpoint" binding="ns:NFSEremessaHttpBinding">
            <http:address location="http://nfsehml.gaspar.sc.gov.br/nfse/services/NFSEremessa.NFSEremessaHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
