test/fixtures/service/wsdl/fisslex/v1/aws_consultarsituacaoloterps.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WS_ConsultarSituacaoLoteRps" targetNamespace="FISS-LEX" xmlns:wsdlns="FISS-LEX" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="FISS-LEX">
	<types>
		<schema targetNamespace="FISS-LEX" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
			<complexType name="ConsultarSituacaoLoteRpsEnvio">
				<sequence>
					<element name="Prestador" type="tns:tcIdentificacaoPrestador" form="unqualified">
					</element>
					<element name="Protocolo" type="xsd:string" form="unqualified">
					</element>
				</sequence>
			</complexType>
			<complexType name="tcIdentificacaoPrestador">
				<sequence>
					<element name="Cnpj" type="xsd:string" form="unqualified">
					</element>
					<element name="InscricaoMunicipal" type="xsd:string" form="unqualified">
					</element>
				</sequence>
			</complexType>
			<complexType name="ConsultarSituacaoLoteRpsResposta">
				<sequence>
					<element name="NumeroLote" type="xsd:int" form="unqualified">
					</element>
					<element name="Situacao" type="xsd:byte" form="unqualified">
					</element>
					<element name="ListaMensagemRetorno" type="tns:ArrayOftcMensagemRetorno" form="unqualified">
					</element>
				</sequence>
			</complexType>
			<complexType name="ArrayOftcMensagemRetorno">
				<sequence>
					<element minOccurs="0" maxOccurs="unbounded" name="tcMensagemRetorno" type="tns:tcMensagemRetorno" form="unqualified">
					</element>
				</sequence>
			</complexType>
			<complexType name="tcMensagemRetorno">
				<sequence>
					<element name="Codigo" type="xsd:string" form="unqualified">
					</element>
					<element name="Mensagem" type="xsd:string" form="unqualified">
					</element>
					<element name="Correcao" type="xsd:string" form="unqualified">
					</element>
				</sequence>
			</complexType>
			<element name="WS_ConsultarSituacaoLoteRps.Execute">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Consultarsituacaoloterpsenvio" type="tns:ConsultarSituacaoLoteRpsEnvio"/>
					</sequence>
				</complexType>
			</element>
			<element name="WS_ConsultarSituacaoLoteRps.ExecuteResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Consultarsituacaoloterpsresposta" type="tns:ConsultarSituacaoLoteRpsResposta"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="WS_ConsultarSituacaoLoteRps.ExecuteSoapIn">
		<part name="parameters" element="tns:WS_ConsultarSituacaoLoteRps.Execute"/>
	</message>
	<message name="WS_ConsultarSituacaoLoteRps.ExecuteSoapOut">
		<part name="parameters" element="tns:WS_ConsultarSituacaoLoteRps.ExecuteResponse"/>
	</message>
	<portType name="WS_ConsultarSituacaoLoteRpsSoapPort">
		<operation name="Execute">
			<input message="wsdlns:WS_ConsultarSituacaoLoteRps.ExecuteSoapIn"/>
			<output message="wsdlns:WS_ConsultarSituacaoLoteRps.ExecuteSoapOut"/>
		</operation>
	</portType>
	<binding name="WS_ConsultarSituacaoLoteRpsSoapBinding" type="wsdlns:WS_ConsultarSituacaoLoteRpsSoapPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Execute">
			<soap:operation soapAction="FISS-LEXaction/AWS_CONSULTARSITUACAOLOTERPS.Execute"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="WS_ConsultarSituacaoLoteRps">
		<port name="WS_ConsultarSituacaoLoteRpsSoapPort" binding="wsdlns:WS_ConsultarSituacaoLoteRpsSoapBinding">
			<soap:address location="http://demo.fisslex.com.br/fiss-lex/servlet/aws_consultarsituacaoloterps"/>
		</port>
	</service>
</definitions>