test/fixtures/service/wsdl/fisslex/v1/aws_consultaloterps.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WS_ConsultaLoteRps" targetNamespace="FISS-LEX" xmlns:wsdlns="FISS-LEX" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="FISS-LEX">
	<types>
		<schema targetNamespace="FISS-LEX" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
			<complexType name="ConsultarLoteRpsEnvio">
				<sequence>
					<element name="Prestador" type="tns:tcIdentificacaoPrestador" form="unqualified">
					</element>
					<element name="Protocolo" type="xsd:string" form="unqualified">
					</element>
				</sequence>
			</complexType>
			<complexType name="tcIdentificacaoPrestador">
				<sequence>
					<element name="Cnpj" type="xsd:string" form="unqualified">
					</element>
					<element name="InscricaoMunicipal" type="xsd:string" form="unqualified">
					</element>
				</sequence>
			</complexType>
			<complexType name="ArrayOftcMensagemRetorno">
				<sequence>
					<element minOccurs="0" maxOccurs="unbounded" name="tcMensagemRetorno" type="tns:tcMensagemRetorno" form="unqualified">
					</element>
				</sequence>
			</complexType>
			<complexType name="tcMensagemRetorno">
				<sequence>
					<element name="Codigo" type="xsd:string" form="unqualified">
					</element>
					<element name="Mensagem" type="xsd:string" form="unqualified">
					</element>
					<element name="Correcao" type="xsd:string" form="unqualified">
					</element>
				</sequence>
			</complexType>
			<element name="WS_ConsultaLoteRps.Execute">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Consultarloterpsenvio" type="tns:ConsultarLoteRpsEnvio"/>
					</sequence>
				</complexType>
			</element>
			<element name="WS_ConsultaLoteRps.ExecuteResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Consultarloterpsresposta" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Listamensagemretorno" type="tns:ArrayOftcMensagemRetorno"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="WS_ConsultaLoteRps.ExecuteSoapIn">
		<part name="parameters" element="tns:WS_ConsultaLoteRps.Execute"/>
	</message>
	<message name="WS_ConsultaLoteRps.ExecuteSoapOut">
		<part name="parameters" element="tns:WS_ConsultaLoteRps.ExecuteResponse"/>
	</message>
	<portType name="WS_ConsultaLoteRpsSoapPort">
		<operation name="Execute">
			<input message="wsdlns:WS_ConsultaLoteRps.ExecuteSoapIn"/>
			<output message="wsdlns:WS_ConsultaLoteRps.ExecuteSoapOut"/>
		</operation>
	</portType>
	<binding name="WS_ConsultaLoteRpsSoapBinding" type="wsdlns:WS_ConsultaLoteRpsSoapPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Execute">
			<soap:operation soapAction="FISS-LEXaction/AWS_CONSULTALOTERPS.Execute"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="WS_ConsultaLoteRps">
		<port name="WS_ConsultaLoteRpsSoapPort" binding="wsdlns:WS_ConsultaLoteRpsSoapBinding">
			<soap:address location="http://demo.fisslex.com.br/fiss-lex/servlet/aws_consultaloterps"/>
		</port>
	</service>
</definitions>